@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


:root {
    --main--color: #ffffff0d;
    --main--border--color: rgb(42, 42, 42);
    --second--border--color: #585858;
    --light-violet-blue: #7861FF;
    --white: #FFFFFF;
    --black: #121212;
    --black-border: rgb(42, 42, 42);
    --gray: #ffffffb3;
    --black-dam: #ffffff0d;
    --hidden: #666666;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: black;
}

header {
    position: fixed;
    max-width: 100%;
}

/* Nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    max-width: 1769px;
    width: 100%;
    height: 100px;
    padding: 16px 99.5px;
    margin: 0 68px;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(29, 28, 28, 0.03);
    z-index: 10;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}


.nav-left {
    display: flex;
    align-items: center;
    width: 390px;
    height: 70px;
}

.nav-left img {
    max-width: 70px;
    max-height: 70px;
    padding: 16px;
}

.nav-right {
    padding-top: 12px;
    display: flex;
    flex-direction: row-reverse;
    width: 390px;
    height: 70px;
}

.nav-center {
    width: 721px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-right a {
    padding: 16px 18px;
    color: #F3F2FF;
    width: 172px;
    height: 52px;
    background-color: #7861FF;
    clip-path: polygon(10px 0%,
            100% 0%,
            100% calc(100% - 10px),
            calc(100% - 10px) 100%,
            0% 100%,
            0% 10px);
}

.ri-arrow-right-s-line {
    padding-left: 6px;
}

.nav-center a {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
}

main {
    padding-top: 140px;
}

/*section-one*/
#section-one {
    color: var(--white);
    width: 100%;
}

#section-one-content {
    display: flex;
    padding: 0px 99.5px;
    margin: 0px auto;
    gap: 48px;
}

#section-one-left,
#section-one-right {
    position: relative;
    background-color: var(--black-dam);
    flex: 1;
    height: 727px;
    width: 727px;
    border-radius: 16px;
    border: rgb(27, 27, 27) solid 1px;
}

#title-section-one-left {
    font-size: 16px;
    width: 100%;
    height: 42px;
}

#title-section-one-left-one {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 5%;
    left: 5%;
}

#title-section-one-left-one span {
    padding-left: 16px;
}

#title-section-one-left-two {
    padding: 16px;
    background-color: #7861ff33;
    position: absolute;
    right: 5%;
    top: 5%;
    width: 158px;
    height: 42px;
    border: 1px solid rgb(152, 134, 252);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ri-crosshair-2-line {
    color: var(--light-violet-blue);
}

#special-price {
    position: absolute;
    border: rgb(42, 42, 42) solid 1px;
    top: 15%;
    width: 91%;
    height: 158.11px;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
}

#special-price img {
    object-fit: cover;
    width: 691px;
    height: 158.11px;
}

#title-price {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    position: absolute;
    color: var(--light-violet-blue);
}

#price {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    gap: 14px;
}

#current-price {
    font-size: 40px;
    font-weight: bold;
}

#discount-price {
    color: var(--gray);
    font-size: 20px;
    text-decoration: line-through;
}

#Quantity {
    display: flex;
    align-items: center;
    width: 663px;
    height: 48px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
    gap: 16px;
}

#number-input {
    display: flex;
    gap: 16px;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
}

.btn-price {
    font-size: 16px;
    height: 48px;
    width: 48px;
    border: 1px solid var(--main--border--color);
    background-color: var(--main--color);
    color: var(--main--border--color);
    border-radius: 8px;
    cursor: pointer;
    color: var(--white);
}

#amount {
    display: flex;
    border: var(--main--border--color) 1px solid;
    width: 96px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#alert {
    color: rgb(201, 119, 11);
    position: absolute;
    right: 10%;
}

.border {
    position: absolute;
    width: 691px;
    height: 1px;
    border-bottom: 1px solid var(--main--border--color);
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

#payment {
    width: 663px;
    height: 120px;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

#total-title {
    position: absolute;
    left: 5%;
    font-size: 20px;
    font-weight: 500;
}

#total {
    position: absolute;
    right: 5%;
    font-size: 20px;
    color: var(--light-violet-blue);
    font-weight: 600;
}



#visa {
    position: absolute;
    bottom: 0;
    left: 5%;
    background-color: var(--black-dam);
    border: var(--light-violet-blue) solid;
    color: #ffffffb3;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: not-allowed;
}

#visa span {
    padding-top: 20px;
}


#wallet {
    position: absolute;
    bottom: 0;
    right: 5%;
    background-color: var(--light-violet-blue);
    border: #c5bbfc 1px solid;
    color: var(--white);
}

.btn-pay {
    width: 40%;
    height: 62px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}

#visa-logo {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.round {
    font-family: "Poppins";
    font-weight: bold;
    width: 687px;
    min-height: 42px;
    display: flex;
    background-color: #4948480d;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #8583830d;
    cursor: pointer;
}

#round-one {
    position: absolute;
    top: 5%;
    right: 5%;
    color: var(--white);
    width: 90%;
}

#round-two {
    position: absolute;
    top: 70%;
    color: var(--hidden);
}

#round-three {
    position: absolute;
    top: 85%;
    color: var(--hidden);

}

#round-two,
#round-three {
    width: 90%;
    transition: top 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
}


.round-title {
    display: flex;
    gap: 16px;
}

.round-title p {
    font-size: 24px;
}


.btn-live {
    width: 128px;
    height: 42px;
    position: absolute;
    top: 22.5%;
    right: 7%;
    background-color: rgb(7 169 61);
    color: #fff;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(118, 211, 149);
    border-radius: 12px;
}

.btn-live p {
    font-size: 16px;
}

#down-round {
    position: absolute;
    right: 2.5%;
    top: 40%;
}

#up-round {
    position: absolute;
    right: 2.5%;
    top: 40%;
}

.ri-flashlight-fill {
    max-width: 16px;
    max-height: 16px;
    margin-top: 8px;
}

.hidden-content-item {
    min-width: 100%;
    min-height: 100%;
    margin-top: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#hidden-content-item-one {
    background-color: #4948480d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    border-bottom: var(--light-violet-blue) 1px solid;
    border-top: var(--light-violet-blue) 1px solid;
    font-size: 28px;
}

/* up-down */
#down-round,
#up-round {
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.hidden-content {
    transition: all 0.3s ease;
}

.ri-circle-fill {
    padding-left: 10px;
}

#hidden-content-item-two {
    background-color: #4948480d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 220%;
    color: var(--hidden);

}

#hidden-content-item-three {
    background-color: #4948480d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 320%;
    color: var(--hidden);

}

#hidden-content-item-four {
    background-color: #4948480d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 420%;
    color: var(--hidden);
}

.hidden-content-item-icon {
    position: absolute;
    left: 5%;
}

.hidden-content-item-title {
    position: absolute;
    left: 12.5%;
    font-size: 20px;
}

.hidden-content-item-price {
    position: absolute;
    right: 17.5%;
    font-size: 20px;
}

.hidden-content-item-amount {
    position: absolute;
    right: 2.5%;
    font-size: 16px;
    padding: 8px;
    background-color: #7861ff33;
    min-width: 63px;
    min-height: 24px;
    border: 1px solid rgb(152, 134, 252);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden-content-item-amount-hidden {
    position: absolute;
    right: 2.5%;
    font-size: 16px;
    padding: 8px;
    background-color: #7961ff0e;
    min-width: 63px;
    min-height: 24px;
    border: 1px solid rgba(152, 134, 252, 0.192);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*section-two*/

#section-two {
    font-family: "Poppins";
    width: 1570px;
    height: 638px;
    background-color: black;
    margin: 120px auto;

}

#section-two-left,
#section-two-right {
    flex: 1;
    height: 644px;
    width: 638px;
}

#section-two-content {
    display: flex;
    padding: 70px 70px 140px 70px;
    border: solid 1px var(--second--border--color);
    border-radius: 8px;
    gap: 16px;
}

#title-section-two-right {
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--white);
    background-color: #ffffff0d;
    min-height: 28px;
    min-width: 590px;
    padding: 24px;
    border: 1px solid var(--second--border--color);
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    gap: 16px;
}

#section-two-right i {
    padding-top: 3px;
    font-size: 20px;
}

.section-two-right-content {
    display: flex;
    color: #fff;
    min-width: 640px;
    min-height: 40px;
    align-content: center;
    background-color: #ffffff0d;
    gap: 16px;
    padding: 16px 24px;
    margin-top: 32px;
    border-radius: 8px;
    font-size: 18px;
}

#title-section-two-left {
    width: 664px;
    height: 638px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: var(--white);
}

#title-section-two-left-one {
    font-size: 32px;
    background: linear-gradient(90deg, rgb(57, 38, 173), rgb(195, 103, 214));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#title-section-two-left-two {
    font-size: 18px;
    color: #ffffffb3;
}

/* section-three */

#section-three {
    position: relative;
    left: 50%;
    width: 1522px;
    height: 440px;
    transform: translateX(-50%);
}

#section-three p {
    font-family: "Audiowide", sans-serif;
}

#section-three-title {
    text-align: center;
    padding-top: 90px;
    color: var(--white);
    font-size: 62px;
}

#partners {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.partner {
    flex: 0 0 calc((100% - 3 * 32px) / 4);
    max-width: 324px;
    height: 116px;
    padding: 12px;
    border: 1px solid var(--second--border--color);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

#partners>.partner:nth-child(n+5) {
    flex: 0 0 calc((100% - 32px) / 2);
}

.partner img {
    max-width: 100%;
    height: auto;
    padding: 12px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: center bottom;
    object-fit: contain;
    display: block;
}

.infomation {
    color: #fff;
    position: absolute;
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    transform: translateY(20px);
    text-align: center;

}

.infomation.show {
    color: #fff;
    display: block;
    opacity: 1;
    transform: translateY(0);
}


/* section-three four */

#section-four {
    position: relative;
    width: 1138px;
    height: auto;
    margin: 120px 216px;
}

#section-four-title {
    text-align: center;
    color: #fff;
    font-size: 62px;
    font-family: "Audiowide", sans-serif;
}

.faqs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--main--border--color);
    background-color: #ffffff0d;
    color: var(--white);
    width: 80%;
    min-height: 28px;
    padding: 24px;
    border-radius: 12px;
    margin-top: 24px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: border-bottom 0.3s ease, border-radius 0.3s ease;
}

.arrow {
    font-size: 24px;
    color: var(--white);
    transition: transform 0.3s ease, opacity 0.3s ease;
    user-select: none;
    margin-left: 12px;
}

.up-round {
    display: none;
}

.faq-content {
    background-color: #ffffff0d;
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
    width: 80%;
    padding: 15px 24px;
    border-radius: 0 0 12px 12px;
    display: none;
    border: 1px solid var(--main--border--color);
    border-top: 1px solid var(--second--border--color);
    transition: border-top 0.3s ease, border-radius 0.3s ease;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.faq-content ul li {
    margin-left: 24px;
    margin-top: 8px;
}

.faq-content ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.faq-item.active .faq-content {
    display: block;
}

.faq-item.active .down-round {
    display: none;
}

.faq-item.active .up-round {
    display: inline-block;
    transform: rotate(0deg);
}

.faq-item.active .faqs {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.faq-item.active .faq-content {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* section five */
.slider {
    width: 100%;
    min-height: 36px;
    overflow: hidden;
    background: rgba(255 255 255 / 0.05);
    border: 1px solid var(--main--border--color);
    display: flex;
    align-items: center;
    padding: 32px;
    position: absolute;
    left: 0;
}

.slide-track {
    display: flex;
    width: max-content;
    gap: 80px;
    will-change: transform;
}

.slide {
    font-family: "Audiowide", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    gap: 80px;
    white-space: nowrap;
}

.slide i {
    color: white;
    font-size: 30px;
}

/* section six */
#section-six {
    padding-top: 240px;
    width: 1570px;
    height: 568px;
    display: flex;
    gap: 24px;
    padding-left: 108px;
    padding-right: 108px;
}

#section-six-left {
    width: 819px;
    height: 568px;
    background-color: black;
}

#section-six-right {
    width: 661px;
    min-height: 526px;
    background-color: #ffffff0d;
    padding: 32px;
    border: 1px solid var(--main--border--color);
    border-radius: 8px;
    box-sizing: border-box;
    color: #e0e0e0;
}

#section-six-left-title-one {
    color: white;
    font-size: 52px;
    font-family: "Audiowide", sans-serif;
    line-height: 70px;
}

#section-six-left-title-two {
    color: #ffffffb3;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 32px;
}

/* form */

label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 62px;
    padding: 16px;
    border: 1px solid var(--main--border--color);
    background-color: #ffffff0d;
    border-radius: 8px;
    color: #ccc;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 400;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #666666;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

input[id="message"]::placeholder {
    position: absolute;
    top: 10%;
}

textarea {
    min-height: 96px;
}

#sumbit {
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    margin-top: 24px;
    width: 100%;
    height: 62px;
    background-color: #7861FF;
    border: #a596fa 1px solid;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 12px;
}

input#message {
    height: 124px;
}

input:focus,
textarea:focus {
    border: 1px solid #8f8d8d;
    outline: none;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

/* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    min-height: 366px;
    background: #121212;
    color: #fff;
    border-radius: 16px;
    padding: 24px 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.close-btn {
    position: absolute;
    top: 27px;
    right: 16px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #fff;
}

.popup-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 24px;
    text-align: center;
}

.wallet-list {
    list-style: none;
    padding: 0;
    margin: 0 0 24px 0;
}

.wallet-item {
    display: flex;
    align-items: center;
    padding: 14px 12px;
    border-radius: 12px;
    background: #1e1e1e;
    margin-bottom: 12px;
    cursor: pointer;
}

.wallet-item:hover {
    background: #3a3a3a;
}

.wallet-logo {
    width: 32px;
    height: 32px;
    margin-right: 14px;
    object-fit: contain;
    border: 1px solid #fff;
    border: none;
    border-radius: 8px;
}

#four {
    background-color: #5a9cff;
    border-radius: 8px;
    border: 1px solid #5a9cff;
}

.qr-code,
.wallet-count {
    margin-left: auto;
    background: #252525;
    color: #bbb;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 8px;
    font-weight: 600;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    color: #888;
}

.footer-text .get-started {
    color: #7861FF;
    text-decoration: none;
    font-weight: 600;
}

.footer-text .get-started:hover {
    text-decoration: underline;
}

/* responsive */

@media (max-width: 1024px) {
    .navbar {
        padding: 16px 40px;
        margin: 0 20px;
    }

    .nav-left,
    .nav-right {
        width: 180px;
        height: 50px;
    }

    .nav-left img {
        max-width: 50px;
        max-height: 50px;
        padding: 8px;
    }

    .nav-center {
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .nav-center a {
        font-size: 16px;
    }

    #section-one-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        height: auto;
    }

    #section-one-left,
    #section-one-right {
        position: static !important;
        width: 100% !important;
        max-width: 600px;
        height: auto !important;
        margin: 0 auto 32px auto;
        transform: none !important;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        box-sizing: border-box;
    }

    #section-one-left *,
    #section-one-right * {
        position: relative !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    #special-price img {
        width: 100%;
        height: auto;
    }

    #Quantity {
        width: 100%;
        justify-content: space-between;
        top: auto;
        position: relative;
        left: auto;
        transform: none;
        padding: 0 16px;
    }

    #number-input {
        position: static;
        transform: none;
    }

    #payment {
        width: 100%;
        top: auto;
        position: relative;
        left: auto;
        transform: none;
        padding: 0 16px;
    }

    #round-one {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        padding: 16px;
    }

    #section-two {
        width: 100%;
        margin: 60px auto;
    }

    #section-two-content {
        flex-direction: column;
        padding: 24px 40px 48px 40px;
    }

    #section-two-left,
    #section-two-right {
        width: 100%;
        height: auto;
        max-width: 600px;
        margin: 0 auto 32px auto;
    }

    #section-three {
        width: 100%;
        height: auto;
        padding: 0 16px 32px 16px;
    }

    #section-four {
        width: 90%;
        margin: 60px auto;
    }

    #section-six {
        flex-direction: column;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        gap: 24px;
        margin-bottom: 64px;
    }

    #section-six-left,
    #section-six-right {
        width: 100%;
        height: auto;
        max-width: 600px;
        margin: 0 auto;
    }

    #section-six-left-title-one {
        font-size: 36px;
        line-height: 46px;
    }

    #section-six-left-title-two {
        font-size: 16px;
        padding-top: 16px;
    }

    form label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        height: 48px;
        font-size: 14px;
    }

    input#message {
        height: 96px;
    }

    #sumbit {
        height: 48px;
        font-size: 14px;
    }

    .infomation {
        font-size: 6px;
    }
}

@media (max-width: 768px) {

    #round-one,
    #round-two,
    #round-three {
        position: static !important;
        width: 100% !important;
        max-width: 600px;
        margin: 16px auto;
        top: auto !important;
        right: auto !important;
        left: auto !important;
        transform: none !important;
    }

    .btn-live {
        display: none !important;
    }

    #Quantity,
    #payment {
        display: none !important;
    }

    .nav-center a {
        display: none !important;
    }

    .hidden-content {
        display: none !important;
    }

    #section-one-left i,
    #section-one-left span,
    #title-section-one-left-two,
    #title-price,
    #price,
    #section-one-left img {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 16px 16px;
        margin: 0 8px;
    }

    .nav-left,
    .nav-right,
    .nav-center {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    .nav-right {
        flex-direction: row;
    }

    .nav-center a {
        font-size: 14px;
        padding: 8px 10px;
    }

    #section-one-content {
        padding: 0 16px;
    }

    #section-one-left,
    #section-one-right {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 24px;
    }

    #special-price img {
        width: 100%;
        height: auto;
    }

    #Quantity,
    #payment {
        width: 100%;
        padding: 0 16px;
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }

    #number-input {
        position: static;
        transform: none;
    }

    #section-two-content {
        padding: 16px;
    }

    #section-two-left,
    #section-two-right {
        width: 100%;
        max-width: 100%;
        margin-bottom: 24px;
    }

    #section-three {
        padding: 0 8px 16px 8px;
    }

    #section-four {
        width: 95%;
        margin: 40px auto;
        padding: 0 8px;
    }

    #section-six {
        padding-left: 8px;
        padding-right: 8px;
    }

    #section-six-left-title-one {
        font-size: 28px;
        line-height: 38px;
    }

    #section-six-left-title-two {
        font-size: 14px;
        padding-top: 12px;
    }

    form label {
        font-size: 12px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        height: 40px;
        font-size: 12px;
    }

    input#message {
        height: 80px;
    }

    #sumbit {
        height: 40px;
        font-size: 12px;
    }

    .nav-right a {
        width: auto;
        padding: 10px 12px;
        font-size: 14px;
    }

    .infomation {
        font-size: 5px;
        padding: 4px 6px;
    }
}